<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/header', {title: 'Productos :)'}) %>
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>
  <div id="login" class="contenedor">
    <h1>Qué tal <em><%=email%></em>, cómo andamio?</h1>
    <form action="/logout" method="post">
      <input type="submit" id="logout" value="Desloguearse" />
    </form>
  </div>
  <br />
  <div id="contenido">
    <div id="ingresoProductos" class="contenedor">
      <h1>Ingrese los productos por favor</h1>
      <form>
        <table class="ingresoProductos" id="input-table">
          <tr>
            <td class="ingresoProductos"> <label for="title">Título</label></td>
            <td class="ingresoProductos"><input type="text" name="title" id="title" /> </td>
          </tr>
          <tr>
            <td class="ingresoProductos"><label for="price">Precio</label></td>
            <td class="ingresoProductos"><input type="number" name="price" id="price" /> </td>
          </tr>
          <tr>
            <td class="ingresoProductos"> <label for="thumbnail">Thumbnail</label></td>
            <td class="ingresoProductos"><input type="text" name="thumbnail" id="thumbnail" /></td>
          </tr>
        </table>





        <input type="submit" id="agregar" value="Agregar" />
      </form>
      <small id="mensaje-form" style="background-color: pink; color: red"></small>
    </div>
    <br />
    <div>
      <% if(prods.length >= 1) { %>
      <table id="tabla">
        <thead>
          <td class="prod-header" style="background-color:#77f">Título</td>
          <td class="prod-header" style="background-color:#77f">Precio</td>
          <td class="prod-header" style="background-color:#77f">Imagen</td>
        </thead>
        <tbody>
          <% prods.forEach((prod) => { %>
          <tr>
            <td class="prod" style="background-color:#77f"><%=prod.title %></td>
            <td class="prod" style="background-color:#77f"><%=prod.price %></td>
            <td class="prod" style="background-color:#77f"><img src=<%=prod.thumbnail%> /></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <% } else { %>
      <p style="background-color: plum">No hay productos</p>
      <% } %>
    </div>
    <br />
    <div>
      <div id="chat" style="color: sienna;background-image: url('/images/backChat.png'); padding: 1px;">
        <% if(mensajes.length > 0) { %>
        <% mensajes.forEach( (mensaje) => { %>
        <p style="background-color:#ccf9;text-shadow:1px 1px 2px">
          <strong style="color: #77f"><%=mensaje.mail%></strong>
          | <%=mensaje.timestamp%> :
          <em style="color: green"><%=mensaje.texto%></em>
        </p>
        <% }); %>
        <% } %>
      </div>
      <br />
      <form>
        <input type="email" name="mail" id="mail" disabled value=<%=email%> />
        <input type="text" name="mensaje" id="mensaje-chat" placeholder="Escriba aquí" />

        <input type="submit" name="enviar" id="enviar" value="Enviar" />
      </form>
    </div>
  </div>
  <script src="/productosForm.js"></script>
</body>

</html>